.container {
  /*display: flex;*/
}

.side-box {
  width: 400px;
  /*float: right;*/
  position: fixed;
  left: 800px;
}

li {
  list-style-type: none;
  font-family: papyrus;
  font-size: 20px;

}

.title {
  color: black;
  font-family: papyrus;
  font-size: 20px;
  font-weight: bold;
}

p {
  text-decoration: none;
  color: black;
  font-family: papyrus;
  font-size: 18px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 600px;
  width: 800px;*/
  /*background-color: lightgray;*/
  /*font-family: fantasy;*/
}

.one {
  /*flex-direction: column;*/
  height: 200px;
  width: 800px;
  background-color: lightgray;
}

.two {
  /*flex-direction: row;*/
  flex-wrap: wrap;
  height: 200px;
  width: 800px;
  background-color: lightgray;

}

.three {
  /*flex-direction: column;*/
  height: 200px;
  width: 800px;
  background-color: lightgray;
}

.body {
  /*background-color: red;*/
}

.health {
  height: 15px;
  width: 100px;
  border: 1px solid black;
}

#computer {
  height: 75px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

#player {
  height: 75px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.crab {
  width: 100px;
  animation: rotate 2s infinite;
}

@keyframes rotate {
    100% {
        transform: rotateY(180deg);
    }
}

.gameBoard {
  height: 200px;
  width: 200px;
  /*border: 1px solid black;*/

}

.tile {
  border: 1px solid black;
  display: inline-block;
  width: 16px;
  padding-left: 2px;
  border-radius: 25%;
  transition: background 0.5s ease;

}

.tile:hover {
    border: 1px solid red;
    cursor: pointer;
}

.red,.R {
  background-color: tomato;
  color: tomato;
}

.blue,.B {
  background-color: skyblue;
  color: skyblue;
}

.green,.G {
  background-color: mediumseagreen;
  color: mediumseagreen;
}

.yellow,.Y {
  background-color: khaki;
  color: khaki;
}

.purple,.P {
  background-color: slateblue;
  color: slateblue;
}

.orange,.O {
  background-color: orange;
  color: orange;
}

/*.computerColor {
  background-color: tomato;
}*/

/*.playerColor {
  background-color: skyblue;
}*/

h2 {
  font-family: papyrus;
}

h3 {
  font-family: papyrus;
}

h4 {
  margin: 1px;
  font-family: papyrus;
}

.healthTileComputer {
  background-color: tomato;
  height: 15px;
  width: 5px;
  display: inline-block;
}

.healthTilePlayer {
  background-color: skyblue;
  height: 15px;
  width: 5px;
  display: inline-block;
}

.message {
  animation: change 2s infinite;

}

@keyframes change {
    100% {
        /*transform: scale(20) skew(-20deg);*/
        /*transform: skew(-20deg);*/
        /*transform: skew(20deg);*/
        transform: translate(10px, 10px);
    }
}
