.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 600px;
  width: 800px;*/
  /*background-color: lightgray;*/
}

.one {
  /*flex-direction: column;*/
  height: 200px;
  width: 800px;
  background-color: lightgray;
}

.two {
  /*flex-direction: row;*/
  flex-wrap: wrap;
  height: 200px;
  width: 800px;
  background-color: lightgray;

}

.three {
  /*flex-direction: column;*/
  height: 200px;
  width: 800px;
  background-color: lightgray;
}

.body {
  /*background-color: red;*/
}

.health {
  height: 15px;
  width: 100px;
  border: 1px solid black;
}

#computer {
  height: 75px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

#player {
  height: 75px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.crab {
  width: 100px;
}

.gameBoard {
  height: 200px;
  width: 200px;
  border: 1px solid black;

}

.tile {
  border: 1px solid black;
  display: inline-block;
  width: 18px;
}

.red {
  background-color: tomato;
}

.blue {
  background-color: skyblue;
}

.green {
  background-color: mediumseagreen;
}

.yellow {
  background-color: khaki;
}

.purple {
  background-color: slateblue;
}

.orange {
  background-color: orange;
}

.computerColor {
  background-color: tomato;
}

.playerColor {
  background-color: skyblue;
}

h4 {
  margin: 5px;
}
